@import "compass/utilities/general/clearfix";

$road-sign-spacing: 2px;
@import "icon/road-sign/*.png";
@include all-road-sign-sprites;

.ui-icon-trphcm-north {
    background: url("/img/north.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-trphcm-south {
    background: url("/img/south.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-trphcm-west {
    background: url("/img/west.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-trphcm-east {
    background: url("/img/east.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}
ul.road-list {
    li {
        padding-left: 1px !important; // Context: 318px width
        padding-right: 1px !important;
    }
    .road-sign {
        min-height: 80px;
        width: 26.4150943%; // 84px / 318px
    }
    .road-directions {
        position: absolute;
        right: 1px;
        top: 50%;
        margin-top: -2em;
        text-align: center;
        width: 73.5849057%; // 234px / 318px
        a.direction { width: 50% } // Button control group - two buttons
        a.no-direction { margin-bottom: 1em; } // Single button
    }
}
ul.cam-list {
    li { padding-right: 15px !important; }
    img {
        width: 100%;
        max-width: 352px;
    }
}
